*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    color: #ffff;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: black;
}
::-webkit-scrollbar{
    background-color: black;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(82, 82, 82);
    border-radius: 5px;
}

.main{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.49), rgb(0, 0, 0)), url(img/01.jpg);
    background-position: center;
    background-size: cover;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.logo img{
    width: 200px;
}
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.nav ul li{
    padding: 0 10px;
    font-weight: 400;
    font-size: 20px;
}
.contant{
    padding: 0 5%;
    bottom: -500px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.contant h1{
    font-size: 15px;
    font-weight: 300;
    color: gray;
}
.contant h2{
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
    font-variant-caps: all-petite-caps;
}
.contant p{
    font-size: 13px;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto;
    color: rgb(169, 168, 168);
}

/* card section  */

.flex{
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    padding: 10%;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-gap: 20px;
}
.card{
    width: 100%;
    position: relative;
    text-align: left;
    height: 600px;
    padding: 10px;
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.574)), url(img/02.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    transition: 3s;
}
.card:nth-child(2){
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.574)), url(img/03.jpg);
}
.card:nth-child(3){
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.574)), url(img/04.jpg);
}
.card:nth-child(4){
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.574)), url(img/05.jpeg);
}

.text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    transition: 1s;

}
.text button{
    padding: 10px;
    border-radius: 10px;
    background-color: #ffff;
    width: 150px;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
}
.text a{
    color: black;

}
.text p{
    width: 80%;
    opacity: 0;
    transition: 1s;
    height: 0;
}
.card:hover p{
    opacity: 1;
    height: 80px;
    
}
.text button:hover{
    transform: translateX(10px);
}

.fa-solid{
    color: #000;
    position: relative;
    left: -60px;
    opacity: 0;
    padding-left: 10px;
    transition: 0.5s;
}

.text button:hover .fa-solid{
    left: 0px;
    opacity: 1;

}

/* section 03 style  */

.s-3{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.528), rgba(0, 0, 0, 0.357)), url(img/01.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.s-3 p{
    font-size: 15px;
    width: 450px;
    position: absolute;
    top: 100px;
    right: 20px;
}

/* section 04 style  */

.col-1{
    display: flex;
    flex-wrap: wrap ;   
}
.row-1{
    flex-basis: 50%;
}
.row-1:nth-child(1){
    text-align: left;
    margin: auto;
    padding-left: 5%;
}
.row-1 img{
    width: 100%;
}
.row-1 h1{
    font-size: 15px;
    font-weight: 300;
    color: gray;
}
.row-1 h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    font-variant-caps: all-petite-caps;
}
.row-1 p{
    font-size: 15px;
    font-weight: 300;
    max-width: 600px;
    color: rgb(169, 168, 168);
}
.row-1 button{
    padding: 10px;
    border-radius: 10px;
    background-color: #ffff;
    width: 150px;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
}
.row-1 button:hover{
    transform: translateX(10px);
}
.row-1 button:hover .fa-solid{
    left: 0px;
    opacity: 1;

}
.fa-solid{
    color: #000;
    position: relative;
    left: -60px;
    opacity: 0;
    padding-left: 10px;
    transition: 0.5s;
}
.row-1 a{
    color: #000;
}

/* section 05 style  */

.s-4{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.528), rgba(0, 0, 0, 0.357)), url(img/06.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.s-4 p{
    font-size: 15px;
    width: 450px;
    position: absolute;
    top: 100px;
    left: 20px;
}