*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    color: #ffff;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    background-color: black;
}
::-webkit-scrollbar{
    background-color: black;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(82, 82, 82);
    border-radius: 5px;
}

/* button style  */

#button {
    display: inline-block;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: rgb(0, 0, 0);
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:hover::after{
    color: rgb(255, 255, 255);
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

.main{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.49), rgb(0, 0, 0)), url(img/01.jpg);
    background-position: center;
    background-size: cover;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.logo img{
    width: 200px;
}
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.nav ul li{
    padding: 0 10px;
    font-weight: 400;
    font-size: 20px;
    position: relative;
}
.menu-icon   {
    width: 150px;
    display: none;
}

.dropdown{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.nav li:nth-child(3):hover .dropdown{
    display: flex;
}

.contant{
    width: 100%;
    padding: 0 5%;
    bottom: 0px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
}
.contant h1{
    font-size: 15px;
    font-weight: 300;
    color: gray;
}
.contant h2{
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
    font-variant-caps: all-petite-caps;
}
.contant p{
    font-size: 13px;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto;
    color: rgb(169, 168, 168);
}

.package {
    margin: 150px 0;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.package li{
    list-style: disc;
    padding: 20px 0;
}
.package h4{
    position: relative;
    font-size: 30px;
    margin-top: 20px;
}
.package h4::before{
    content: "";
    position: absolute;
    bottom: -20px;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 3px;
    width: 50%;
    background-color:   rgb(255, 217, 1) ;
}
.package span{
    color: rgb(255, 217, 1);
}

hr{
    height: 1px;
    margin: 20px auto;
    width: 80%;
    background-color: #ffff;
}